a {
    text-decoration: none;
  }
  body {
    margin: 0;
  }
  
  .container {
    width               : 100%;
    max-width           : 786px;
    position            : relative;
    overflow            : hidden;
    margin              : 0 auto;
  }
  .container .header {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px; 
    position            : relative;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    box-shadow          : 0 1px 1px 0 #e8e8e8;
    border-right        : 1px solid #e8e8e8;
    border-left         : 1px solid #e8e8e8;
  }
  .container .header .homepage {
    position            : relative;
    padding             : 10px;
    font-weight         : 800;
    font-style          : normal;
    font-size           : 4.5vw;
    color               : rgba(16, 42, 67, 1.0);
    text-align          : center;
    color: #003e6b;
  }
  .container .cover {
    width               : 100%;
    position            : relative;
    margin              : 0;
    height              : 272px;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    overflow            : hidden;
    background-size     : cover;
    background-position : center center;
  }
  /* .container .cover .cover-image {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    width               : 100%;
    position            : relative;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  } */
  .container .cover .close-btn {
    background-color    : rgba(255,255,255,0.0);
    top                 : 24px;
    height              : 23px;
    width               : 24px;
    position            : absolute;
    margin              : 0;
    right               : 24px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .container .cover .close-btn .outer {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 23px;
    width               : 24px;
    position            : relative;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .container .cover .close-btn .outer .oval {
    background-color    : rgba(255,255,255,0.0);
    position            : absolute;
    top                 : 0px;
    left                : 0px;
    margin              : 0;
    width               : 100%;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .container .cover .close-btn .inner {
    background-color    : rgba(255,255,255,0.0);
    top                 : 6px;
    height              : 12px;
    width               : 12px;
    position            : absolute;
    margin              : 0;
    left                : 6px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .container .cover .close-btn .inner .fill1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 12px;
    width               : 12px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .container .cover .close-btn .inner .fill2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 12px;
    width               : 12px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .container .title {
    background-color    : rgba(255,255,255,0.0);
    height              : auto;
    width               : calc(100.00% - 83px);
    position            : relative;
    left                : 16px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-weight         : 800;
    font-style          : normal;
    font-size           : 20px;
    color               : rgba(16, 42, 67, 1.0);
  }
  .container .content {
    background-color    : rgba(255,255,255,0.0);
    height              : auto;
    width               : calc(100.00% - 32px);
    position            : relative;
    left                : 16px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(51, 51, 51, 1.0);
    text-align          : left;
    line-height         : 24.0px;
  }
  
  .footer {
    background-color    : #f0f4f8;
    position            : relative;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    
  }
  
  .footer p {
    background-color    : rgba(255,255,255,0.0);
    position            : relative;
    padding             : 20px;
    margin              : 0;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 12px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : center;
  }