

/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper ,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
/* ANIMA screen - frencharticle */
.font-class-1 {
  font-family         : "Georgia", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family         : "Georgia-Bold", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family         : "STSongti-SC-Regular", Helvetica, Arial, serif;
}
.font-class-5 {
  color               : var(--auto-palette-color-1);
  font-family         : "Times-Roman", Helvetica, Arial, serif;
}
.font-class-6 {
  color               : rgba(16,42,67,1.0);
  font-family         : "STSongti-SC-Bold", Helvetica, Arial, serif;
}
.font-class-7 {
  color               : rgba(16,42,67,1.0);
  font-family         : "ITFDevanagari-Bold", Helvetica, Arial, serif;
}
.font-class-8 {
  color               : rgba(16,42,67,1.0);
  font-family         : "Times-Bold", Helvetica, Arial, serif;
}
:root {
  --2187e56a-7a67-4e5a-87f9-b418c88435a5: rgba(16,42,67,1.0);
  --auto-palette-color-1: rgba(51,51,51,1.0);
  --auto-palette-color-2: rgba(0,0,0,0.600000023842);
  --auto-palette-color-3: rgba(215,215,215,1.0);
  --auto-palette-color-4: rgba(255,255,255,1.0);
  --auto-palette-color-5: rgba(0,62,107,1.0);
}
.frencharticle .overlap-group-Y7zamN {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 513px;
  margin-right        : 1.0px;
  margin-top          : 41px;
  position            : relative;
  width               : 967px;
}
.frencharticle .span38-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span39-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span40-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span41-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span42-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span43-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span44-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span45-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span46-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span47-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span48-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span49-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span50-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span51-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span52-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span53-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span54-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span55-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span56-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span57-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span58-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span59-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span60-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span61-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span62-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span63-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span64-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span65-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span66-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span67-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span68-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span69-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span70-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span71-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span72-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span73-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span74-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span75-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span76-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span174-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span175-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span176-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span177-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span178-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span179-IRWx9B {
  font-family         : "Georgia", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .western-lowland-gorila-gorilla-gorilla-xsQWv3 {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/hindi-article-mask.png");
  background-size     : 100% 100%;
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 513px;
  justify-content     : flex-start;
  left                : 0px;
  overflow            : hidden;
  padding             : 0 4.0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 967px;
}
.frencharticle .a640px-un-sicherheitsrat-un-security-council-new-york-city-2014-01-06-HbBdY2 {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 719px;
  margin-top          : -92.0px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 959px;
}
.frencharticle .le-conseil-de-s-351curi-F58tzm {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  font-size           : 21.0px;
  height              : auto;
  line-height         : 31.5px;
  margin-right        : 2.0px;
  margin-top          : 22px;
  min-height          : 126px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : 630px;
}
.frencharticle .span1-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span2-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span3-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span4-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span5-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span6-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span7-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span8-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span9-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span10-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span11-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span12-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span13-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span14-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span15-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span16-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span17-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span18-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span19-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span20-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span21-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span22-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span23-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span24-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span25-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span26-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span27-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span28-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span29-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span30-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span31-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span32-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span33-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span34-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span35-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span36-F58tzm {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span37-F58tzm {
  letter-spacing      : 0.00px;
}
.frencharticle .span130-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span131-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span132-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span133-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span134-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span135-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span136-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span137-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span138-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span145-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span146-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span147-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span148-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span149-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span150-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span151-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span152-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span153-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span154-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span155-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span156-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span157-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span158-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span159-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span160-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span161-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span162-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span163-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span164-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span165-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span166-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span167-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span168-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span169-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span170-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span171-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span172-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span173-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span83-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span84-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span85-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span86-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span87-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span88-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span89-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span90-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span91-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span92-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span93-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span94-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span95-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span96-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span97-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span98-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span99-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span100-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span101-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span102-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span103-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span104-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span105-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span106-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span107-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span108-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span109-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span110-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span111-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span112-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span113-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span114-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span115-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span116-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span117-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span118-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span119-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span120-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span121-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span122-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span123-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span124-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span125-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span126-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span127-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span128-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span129-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span39-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span40-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span41-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span42-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span43-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span44-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span45-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span46-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span47-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span48-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span49-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span50-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span51-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span52-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span53-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span54-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span55-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span56-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span57-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span58-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span59-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span60-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span61-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span62-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span63-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span64-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span65-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span66-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span67-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span68-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span69-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span70-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span71-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span72-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span73-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span74-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span75-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span76-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span77-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span78-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span79-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span80-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span81-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span82-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span126-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span127-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span128-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span129-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span130-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .certaines-d-351cisions-IRWx9B {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  font-size           : 21.0px;
  height              : auto;
  line-height         : 31.5px;
  margin-top          : 22px;
  min-height          : 272px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : 632px;
}
.frencharticle .span1-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span2-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span3-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span4-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span5-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span6-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span7-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span8-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span9-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span10-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span11-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span12-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span13-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span14-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span15-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span16-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span17-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span18-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span19-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span20-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span21-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span22-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span23-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span24-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span25-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span26-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span27-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span28-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span29-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span30-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span31-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span32-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span33-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span34-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span35-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span36-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span37-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span38-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span82-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span83-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span84-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span85-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span86-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span87-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span88-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span89-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span90-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span91-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span92-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span93-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span94-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span95-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span96-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span97-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span98-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span99-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span100-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span101-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span102-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span103-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span104-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span105-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span106-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span107-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span108-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span109-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span110-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span111-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span112-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span113-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span114-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span115-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span116-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span117-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span118-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span119-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span120-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span121-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span122-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span123-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span124-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span125-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span34-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span35-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span36-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span37-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span38-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span39-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span40-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span41-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span42-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span43-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span44-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span45-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span46-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span47-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span48-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span49-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span50-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span51-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span52-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span53-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span54-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span55-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span56-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span57-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span58-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span59-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span60-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span61-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span62-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span63-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span64-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span65-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span66-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span67-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span68-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span69-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span70-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span71-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span72-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span73-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span74-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span75-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span76-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span77-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span78-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span79-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span80-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span81-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span3-K7cKTJ {
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span4-K7cKTJ {
  font-family         : "ITFDevanagari-Bold", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span5-K7cKTJ {
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span6-K7cKTJ {
  font-family         : "ITFDevanagari-Bold", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span7-K7cKTJ {
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span8-K7cKTJ {
  font-family         : "ITFDevanagari-Bold", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span9-K7cKTJ {
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span10-K7cKTJ {
  font-family         : "ITFDevanagari-Bold", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span11-K7cKTJ {
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .line-copy-5-4RoLgK {
  background-color    : rgba(255,255,255,0);
  height              : 2px;
  left                : 167px;
  position            : absolute;
  top                 : 350px;
  transform           : rotate(0deg);
  width               : 655px;
}
.frencharticle .le-conseil-de-s-351curi-StjQPz {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  font-size           : 21.0px;
  height              : auto;
  line-height         : 31.5px;
  margin-top          : 22px;
  min-height          : 189px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : 632px;
}
.frencharticle .span1-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span2-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span3-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span4-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span5-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span6-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span7-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span8-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span9-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span10-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span11-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span12-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span13-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span14-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span15-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span16-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span17-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span18-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span19-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span20-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span21-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span22-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span23-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span24-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span25-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span26-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span27-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span28-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span29-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span30-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span31-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle .span32-StjQPz {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span33-StjQPz {
  letter-spacing      : 0.00px;
}
.frencharticle {
  align-items         : center;
  background-color    : var(--auto-palette-color-4);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  min-height          : 1438px;
  overflow            : hidden;
  position            : relative;
  width               : 1440.0px;
}
.frencharticle .group-xWfRCW {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/english-article-rectangle.png");
  background-size     : 100% 100%;
  box-sizing          : border-box;
  cursor              : pointer;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 124px;
  justify-content     : flex-start;
  margin-top          : -3px;
  padding             : 34.0px 490.0px;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.frencharticle .wikipedia-preview-de-1PLwYB {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  flex-shrink         : 0;
  font-size           : 30.0px;
  height              : auto;
  line-height         : 52.8px;
  min-height          : 54px;
  position            : relative;
  text-align          : center;
  transform           : rotate(0deg);
  width               : 468px;
}
.frencharticle .conseil-de-s-351curit-351-K7cKTJ {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  font-size           : 40.0px;
  height              : auto;
  line-height         : 40.0px;
  margin-top          : 35px;
  min-height          : 53px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : 632px;
}
.frencharticle .span1-K7cKTJ {
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span2-K7cKTJ {
  font-family         : "ITFDevanagari-Bold", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
  line-height         : 43.7px;
}
.frencharticle .span141-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span140-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span139-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span143-IRWx9B {
  letter-spacing      : 0.00px;
}
.frencharticle .span142-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.frencharticle .span144-IRWx9B {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}