body {
  margin: 0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.container {
  max-width           : 786px;
  position            : relative;
  overflow            : hidden;
  margin              : 0 auto;
}
.container .header{
    position            : relative;
    padding             : 10px 0;
    font-style          : normal;
    font-weight         : 800;
    font-size           : 4.5vw;
    color               : #003e6b;
    text-align          : center;
    box-shadow          : 0 1px 1px 0 #e8e8e8;
    border-right        : 1px solid #e8e8e8;
    border-left         : 1px solid #e8e8e8;
    border-bottom       : 1px solid #acacac;
}
.container .listview {
  max-width: 500px;
  margin: 0 auto;
}
.container .listview .item {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #dbdbdb;
}

.container .listview .item.last {
  border-bottom: 0px;
}
.container .listview .item .title {
  position : relative;
  width    : 70%;
  margin: 0;
  font-family         : "Roboto", Segoe, San Francisco, Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(16, 42, 67, 1.0);
  text-align          : left;
  line-height         : 21.6px;
}
.container .listview .item .image {
  width: 100%;
  position: relative;
}
.container .listview .item .image .cover {
  height: 80px;
  width: 80px;
  position: absolute;
  right: 10px;
  border-radius: 4px;
  background-size: cover;
  background-position: center center;
}
.container .listview .item .subtitle {
  position : relative;
  width    : 70%;
  padding   : 8px 0;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.6);
}
.container .listview .item .content {
  position : relative;
  width    : 70%;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.6);
}
.footer {
  background-color    : #f0f4f8;
  position            : relative;
  width               : 100%;
  margin              : 0;
  bottom              : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  
}

.footer p {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  padding             : 20px;
  margin              : 0;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
}