@import url('https://fonts.googleapis.com/css?family=Roboto:500,400');


/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - spanishdesktop */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 500;
}
.font-class-3 {
  font-family         : "Georgia", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family         : "Georgia-Bold", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  font-size           : 16.0px;
}
.font-class-6 {
  color               : var(--auto-palette-color-1);
  font-family         : "Times-Roman", Helvetica, Arial, serif;
  font-size           : 16.0px;
  line-height         : 24.0px;
}
.font-class-7 {
  font-family         : "STSongti-SC-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
}
.font-class-8 {
  color               : rgba(16,42,67,1.0);
  font-family         : "Times-Bold", Helvetica, Arial, serif;
  font-size           : 21.0px;
}
:root {
  --2187e56a-7a67-4e5a-87f9-b418c88435a5: rgba(16,42,67,1.0);
  --6d33225b-6adf-4ba1-a717-09ef8ad38268: rgba(215,215,215,1.0);
  --auto-palette-color-1: rgba(51,51,51,1.0);
  --auto-palette-color-2: rgba(0,0,0,0.600000023842);
  --auto-palette-color-3: rgba(255,255,255,1.0);
  --auto-palette-color-4: rgba(0,0,0,1.0);
  --auto-palette-color-5: rgba(0,62,107,1.0);
  --bf8d1f6d-7211-4c6a-93ed-f9b6344e303c: rgba(240,244,248,1.0);
}
.spanishdesktop .overlap-group-4tDfkw {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 513px;
  margin-right        : 1.0px;
  position            : relative;
  width               : 967px;
}
.spanishdesktop .auto-flex-1lKxzb {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 0px;
  position            : absolute;
  top                 : 162px;
  width               : 1440px;
}
.spanishdesktop {
  background-color    : var(--auto-palette-color-3);
  height              : 100vh;
  margin              : 0px;
  min-height          : 1508.0px;
  min-width           : 1440.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.spanishdesktop .nikola-tesla-ttdChZ {
  background-color    : rgba(255,255,255,0);
  color               : rgba(16,42,67,1.0);
  flex-shrink         : 0;
  font-size           : 40.0px;
  height              : auto;
  line-height         : 43.7px;
  margin-right        : 407.0px;
  margin-top          : 35px;
  min-height          : 52px;
  position            : relative;
  text-align          : left;
  width               : 225px;
}
.spanishdesktop .line-copy-5-mQhVGC {
  background-color    : rgba(255,255,255,0);
  height              : 2px;
  left                : 167px;
  position            : absolute;
  top                 : 350px;
  width               : 655px;
}
.spanishdesktop .nikola-tesla-fue-un-3UBMV9 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 21.0px;
  height              : auto;
  line-height         : 31.5px;
  margin-top          : 12px;
  min-height          : 315px;
  position            : relative;
  text-align          : left;
  width               : 632px;
}
.spanishdesktop .su-car-341cter-su-enfr-MW9LL0 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 21.0px;
  height              : auto;
  line-height         : 31.5px;
  margin-top          : 22px;
  min-height          : 158px;
  position            : relative;
  text-align          : left;
  width               : 632px;
}
.spanishdesktop .nikola-tesla-de-etn-AoxLex {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 21.0px;
  height              : auto;
  line-height         : 31.5px;
  margin-top          : 22px;
  min-height          : 95px;
  position            : relative;
  text-align          : left;
  width               : 632px;
}
.spanishdesktop .western-lowland-gorila-gorilla-gorilla-MJAoeI {
  align-items         : flex-end;
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/french---desktop-mask.png");
  background-size     : 100% 100%;
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 513px;
  justify-content     : flex-start;
  left                : 0px;
  overflow            : hidden;
  padding             : 0 1.0px;
  position            : absolute;
  top                 : 0px;
  width               : 967px;
}
.spanishdesktop .a802px-tesla-sarony-hwPKnJ {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 1298px;
  margin-bottom       : -623.0px;
  position            : relative;
  width               : 964px;
}
.spanishdesktop .footer-bUTO8v {
  align-items         : flex-start;
  background-color    : rgba(240,244,248,1.0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 80px;
  justify-content     : flex-start;
  margin-top          : 42px;
  min-width           : 1440px;
  padding             : 18.0px 405.0px;
  position            : relative;
  width               : auto;
}
.spanishdesktop .this-article-uses-ma-gkVIMP {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  flex-shrink         : 0;
  font-size           : 13.0px;
  height              : auto;
  line-height         : 21.0px;
  min-height          : 42px;
  opacity             : 0.8;
  position            : relative;
  text-align          : center;
  width               : 630px;
}
.spanishdesktop .rectangle-pwJWlx {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 124px;
  left                : 0px;
  position            : absolute;
  top                 : -3px;
  width               : 100%;
}
.spanishdesktop .wikipedia-preview-de-iOCx9n {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  font-size           : 30.0px;
  height              : auto;
  left                : 524px;
  line-height         : 52.8px;
  position            : absolute;
  text-align          : center;
  top                 : 32px;
  width               : calc(100.00% - 1048px);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - mobilespanishcopy */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 500;
}
.font-class-3 {
  font-family         : "Georgia", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family         : "Georgia-Bold", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  font-size           : 16.0px;
}
.font-class-6 {
  color               : var(--auto-palette-color-1);
  font-family         : "Times-Roman", Helvetica, Arial, serif;
  font-size           : 16.0px;
  line-height         : 24.0px;
}
.font-class-7 {
  font-family         : "STSongti-SC-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
}
.font-class-8 {
  color               : rgba(16,42,67,1.0);
  font-family         : "Times-Bold", Helvetica, Arial, serif;
  font-size           : 21.0px;
}
:root {
  --2187e56a-7a67-4e5a-87f9-b418c88435a5: rgba(16,42,67,1.0);
  --6d33225b-6adf-4ba1-a717-09ef8ad38268: rgba(215,215,215,1.0);
  --auto-palette-color-1: rgba(51,51,51,1.0);
  --auto-palette-color-2: rgba(0,0,0,0.600000023842);
  --auto-palette-color-3: rgba(255,255,255,1.0);
  --auto-palette-color-4: rgba(0,0,0,1.0);
  --auto-palette-color-5: rgba(0,62,107,1.0);
  --bf8d1f6d-7211-4c6a-93ed-f9b6344e303c: rgba(240,244,248,1.0);
}
.mobilespanishcopy {
  align-items         : flex-start;
  background-color    : var(--auto-palette-color-3);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  margin              : 0px;
  min-height          : 1126px;
  min-width           : 360.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.mobilespanishcopy .nikola-tesla-ShVF1x {
  background-color    : rgba(255,255,255,0);
  color               : rgba(16,42,67,1.0);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 21.6px;
  margin-left         : 16.0px;
  margin-top          : 15px;
  min-height          : 22px;
  position            : relative;
  text-align          : left;
  width               : calc(100.00% - 271px);
}
.mobilespanishcopy .nikola-tesla-fue-un-Y7RTly {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 24.0px;
  margin-left         : 16.0px;
  margin-top          : 12px;
  min-height          : 360px;
  position            : relative;
  text-align          : left;
  width               : calc(100.00% - 32px);
}
.mobilespanishcopy .su-car-341cter-su-enfr-MLxFt1 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 24.0px;
  margin-left         : 16.0px;
  margin-top          : 15px;
  min-height          : 168px;
  position            : relative;
  text-align          : left;
  width               : calc(100.00% - 32px);
}
.mobilespanishcopy .nikola-tesla-de-etn-5zpmm8 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 24.0px;
  margin-left         : 16.0px;
  margin-top          : 15px;
  min-height          : 120px;
  position            : relative;
  text-align          : left;
  width               : calc(100.00% - 32px);
}
.mobilespanishcopy .group-5-hx9j3X {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 239px;
  margin-top          : 1px;
  position            : relative;
  width               : 360px;
}
.mobilespanishcopy .western-lowland-gorila-gorilla-gorilla-copy-7-7jdNRp {
  align-items         : flex-end;
  background-color    : rgba(215,215,215,1.0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 239px;
  justify-content     : flex-start;
  left                : 0px;
  overflow            : hidden;
  position            : absolute;
  top                 : 0px;
  width               : 360px;
}
.mobilespanishcopy .a535px-tesla-sarony-XueVtb {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 506px;
  margin-bottom       : -227.0px;
  margin-left         : -13px;
  position            : relative;
  width               : 373px;
}
.mobilespanishcopy .group-2-8xQpHT {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 24px;
  left                : 320px;
  position            : absolute;
  top                 : 9px;
  width               : 24px;
}
.mobilespanishcopy .group-4-xktenD {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 24px;
  justify-content     : flex-start;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : auto;
}
.mobilespanishcopy .oval-4mv0dc {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 23px;
  position            : relative;
  width               : 24px;
}
.mobilespanishcopy .group-4-cpXcri {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/mobile-swahili-fill-1@2x.png");
  background-size     : 100% 100%;
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 12px;
  justify-content     : flex-start;
  left                : 6px;
  position            : absolute;
  top                 : 6px;
  width               : auto;
}
.mobilespanishcopy .fill-3-lfUf5K {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 12px;
  position            : relative;
  width               : 12px;
}
.mobilespanishcopy .group-3-iFKazk {
  align-items         : flex-start;
  background-color    : var(--auto-palette-color-3);
  box-sizing          : border-box;
  cursor              : pointer;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 61px;
  justify-content     : flex-end;
  min-width           : 100%;
  padding             : 18.0px 62.0px;
  position            : relative;
  width               : auto;
}
.mobilespanishcopy .wikipedia-preview-de-9mXMgR {
  background-color    : rgba(255,255,255,0);
  color               : rgba(16,42,67,1.0);
  flex-shrink         : 0;
  font-size           : 18.0px;
  height              : auto;
  line-height         : 24.0px;
  min-height          : 24px;
  min-width           : 244px;
  position            : relative;
  text-align          : center;
  width               : auto;
}
.mobilespanishcopy .group-copy-2-qX3H8O {
  align-items         : flex-start;
  background-color    : rgba(240,244,248,1.0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 64px;
  justify-content     : flex-start;
  margin-top          : 34px;
  min-width           : 100%;
  padding             : 18.0px 15.0px;
  position            : relative;
  width               : auto;
}
.mobilespanishcopy .this-article-uses-ma-pflfdu {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  flex-shrink         : 0;
  font-size           : 9.0px;
  height              : auto;
  line-height         : 13.5px;
  min-height          : 27px;
  opacity             : 0.8;
  position            : relative;
  text-align          : center;
  width               : 330px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - spanishtablet */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 500;
}
.font-class-3 {
  font-family         : "Georgia", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family         : "Georgia-Bold", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  font-size           : 16.0px;
}
.font-class-6 {
  color               : var(--auto-palette-color-1);
  font-family         : "Times-Roman", Helvetica, Arial, serif;
  font-size           : 16.0px;
  line-height         : 24.0px;
}
.font-class-7 {
  font-family         : "STSongti-SC-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
}
.font-class-8 {
  color               : rgba(16,42,67,1.0);
  font-family         : "Times-Bold", Helvetica, Arial, serif;
  font-size           : 21.0px;
}
:root {
  --2187e56a-7a67-4e5a-87f9-b418c88435a5: rgba(16,42,67,1.0);
  --6d33225b-6adf-4ba1-a717-09ef8ad38268: rgba(215,215,215,1.0);
  --auto-palette-color-1: rgba(51,51,51,1.0);
  --auto-palette-color-2: rgba(0,0,0,0.600000023842);
  --auto-palette-color-3: rgba(255,255,255,1.0);
  --auto-palette-color-4: rgba(0,0,0,1.0);
  --auto-palette-color-5: rgba(0,62,107,1.0);
  --bf8d1f6d-7211-4c6a-93ed-f9b6344e303c: rgba(240,244,248,1.0);
}
.spanishtablet .overlap-group-Y7zamN {
  background-color    : rgba(255,255,255,0);
  height              : 273px;
  left                : 0px;
  position            : absolute;
  top                 : 94px;
  width               : 768px;
}
.spanishtablet .auto-flex-1lKxzb {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 0px;
  position            : absolute;
  top                 : 387px;
  width               : 768px;
}
.spanishtablet .group-4-N5dxCB {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/swahili-tablet-fill-1@2x.png");
  background-size     : 100% 100%;
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 18px;
  justify-content     : flex-start;
  left                : 8px;
  position            : absolute;
  top                 : 8px;
  width               : auto;
}
.spanishtablet .fill-3-KbVuVx {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 18px;
  position            : relative;
  width               : 18px;
}
.spanishtablet .footer-bUTO8v {
  align-items         : center;
  background-color    : rgba(240,244,248,1.0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 58px;
  justify-content     : flex-start;
  margin-top          : 40px;
  min-width           : 768px;
  padding             : 0 99.0px;
  position            : relative;
  width               : auto;
}
.spanishtablet .this-article-uses-ma-gkVIMP {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  flex-shrink         : 0;
  font-size           : 12.0px;
  height              : auto;
  line-height         : 18.0px;
  min-height          : 36px;
  opacity             : 0.8;
  position            : relative;
  text-align          : center;
  width               : 570px;
}
.spanishtablet .span1-gkVIMP {
  letter-spacing      : 0.00px;
}
.spanishtablet .span2-gkVIMP {
  font-family         : "Times-Roman", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.spanishtablet .span3-gkVIMP {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.spanishtablet .span4-gkVIMP {
  font-family         : "Times-Roman", Helvetica, Arial, serif;
  letter-spacing      : 0.00px;
}
.spanishtablet .span5-gkVIMP {
  letter-spacing      : 0.00px;
}
.spanishtablet {
  background-color    : var(--auto-palette-color-3);
  height              : 100vh;
  margin              : 0px;
  min-height          : 910.0px;
  min-width           : 768.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.spanishtablet .group-xWfRCW {
  background-color    : rgba(255,255,255,0);
  height              : 96px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 100%;
}
.spanishtablet .header-SkiqXa {
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/swahili-tablet-rectangle.png");
  background-size     : 100% 100%;
  cursor              : pointer;
  height              : 96px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 770px;
}
.spanishtablet .wikipedia-preview-de-wrmSLk {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  font-size           : 25.0px;
  height              : auto;
  left                : 197px;
  line-height         : 52.8px;
  position            : absolute;
  text-align          : center;
  top                 : 26px;
  width               : auto;
}
.spanishtablet .western-lowland-gorila-gorilla-gorilla-copy-D0xxWx {
  background-color    : rgba(215,215,215,1.0);
  border-radius       : 3.0px;
  height              : 273px;
  left                : 0px;
  overflow            : hidden;
  position            : absolute;
  top                 : 0px;
  width               : 768px;
}
.spanishtablet .mask-biZW9V {
  background-color    : rgba(215,215,215,1.0);
  border-radius       : 3.0px;
  height              : 272px;
  left                : 0px;
  position            : absolute;
  top                 : 1px;
  width               : 768px;
}
.spanishtablet .a802px-tesla-sarony-xHe5nk {
  background-color    : rgba(255,255,255,0);
  height              : 1034px;
  left                : 0px;
  position            : absolute;
  top                 : -244px;
  width               : 768px;
}
.spanishtablet .english-xvR7vd {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 20px;
  justify-content     : flex-start;
  margin-right        : 27.0px;
  min-width           : 495px;
  position            : relative;
  width               : auto;
}
.spanishtablet .nikola-tesla-BHbplB {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : auto;
  line-height         : 27.6px;
  margin-top          : -1.0px;
  min-height          : 21px;
  position            : relative;
  text-align          : left;
  width               : 497px;
}
.spanishtablet .nikola-tesla-fue-un-3UBMV9 {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : auto;
  margin-left         : 50.0px;
  margin-top          : 15px;
  min-height          : 192px;
  position            : relative;
  text-align          : left;
  width               : 572px;
}
.spanishtablet .su-car-341cter-su-enfr-MW9LL0 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 24.0px;
  margin-left         : 50.0px;
  margin-top          : 15px;
  min-height          : 96px;
  position            : relative;
  text-align          : left;
  width               : 572px;
}
.spanishtablet .nikola-tesla-de-etn-AoxLex {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 24.0px;
  margin-left         : 50.0px;
  margin-top          : 15px;
  min-height          : 72px;
  position            : relative;
  text-align          : left;
  width               : 572px;
}
.spanishtablet .group-2-8SiD8y {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 33px;
  left                : 659px;
  position            : absolute;
  top                 : 10px;
  width               : 34px;
}
.spanishtablet .group-4-xTHy2w {
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/hindi-tablet-oval@2x.png");
  background-size     : 100% 100%;
  height              : 33px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 34px;
}
@media screen and (max-width: 767px) {
  .spanishtablet {
    display             : none ;
  }
  .spanishdesktop {
    display             : none ;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .mobilespanishcopy {
    display             : none ;
  }
  .spanishdesktop {
    display             : none ;
  }
}
@media screen and (min-width: 1440px) {
  .mobilespanishcopy {
    display             : none ;
  }
  .spanishtablet {
    display             : none ;
  }
}