@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');


.bp1-spanishdesktop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1508px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-spanishdesktop .bp1-nikolatesla {
  background-color    : rgba(255,255,255,0.0);
  top                 : 710px;
  height              : auto;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 404px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(16, 42, 67, 1.0);
  text-align          : left;
  line-height         : 43.7px;
}
.bp1-spanishdesktop .bp1-linecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 512px;
  height              : 2px;
  width               : 655px;
  position            : absolute;
  margin              : 0;
  left                : 403px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-spanishdesktop .bp1-nikolateslafueun {
  background-color    : rgba(255,255,255,0.0);
  top                 : 774px;
  height              : auto;
  width               : 632px;
  position            : absolute;
  margin              : 0;
  left                : 404px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 21.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 31.5px;
}
.bp1-spanishdesktop .bp1-sucar341ctersuenfr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1111px;
  height              : auto;
  width               : 632px;
  position            : absolute;
  margin              : 0;
  left                : 404px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 21.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 31.5px;
}
.bp1-spanishdesktop .bp1-nikolatesladeetn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1291px;
  height              : auto;
  width               : 632px;
  position            : absolute;
  margin              : 0;
  left                : 404px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 21.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 31.5px;
}
.bp1-spanishdesktop .bp1-westernlowlandgorilagorillagorilla {
  background-color    : rgba(255,255,255,0.0);
  top                 : 162px;
  height              : 513px;
  width               : 967px;
  position            : absolute;
  margin              : 0;
  left                : 236px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-spanishdesktop .bp1-westernlowlandgorilagorillagorilla .bp1-mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 513px;
  width               : 967px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-spanishdesktop .bp1-westernlowlandgorilagorillagorilla .bp1-a802pxteslasarony {
  background-color    : rgba(255,255,255,0.0);
  top                 : -162px;
  height              : 1298px;
  width               : 964px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-spanishdesktop .bp1-footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1428px;
  height              : 80px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-spanishdesktop .bp1-footer .bp1-rectangle1 {
  background-color    : rgba(240, 244, 248, 1.0);
  top                 : 0px;
  height              : 80px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-spanishdesktop .bp1-footer .bp1-thisarticleusesma {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : 630px;
  position            : absolute;
  margin              : 0;
  left                : 405px;
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.bp1-spanishdesktop .bp1-rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : -3px;
  height              : 124px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-spanishdesktop .bp1-wikipediapreviewde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : calc(100.00% - 1048px);
  position            : absolute;
  margin              : 0;
  left                : 524px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(0, 62, 107, 1.0);
  text-align          : center;
  line-height         : 52.8px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.bp2-spanishtablet {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 910px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-spanishtablet .bp2-group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 96px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-group .bp2-header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 96px;
  width               : 770px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-group .bp2-header .bp2-rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 96px;
  width               : 770px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-group .bp2-wikipediapreviewde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Georgia-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(0, 62, 107, 1.0);
  text-align          : center;
  line-height         : 52.8px;
}
.bp2-spanishtablet .bp2-westernlowlandgorilagorillagorillacopy {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 94px;
  height              : 273px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-westernlowlandgorilagorillagorillacopy .bp2-mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 1px;
  height              : 272px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-westernlowlandgorilagorillagorillacopy .bp2-a802pxteslasarony {
  background-color    : rgba(255,255,255,0.0);
  top                 : -244px;
  height              : 1034px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-english {
  background-color    : rgba(255,255,255,0.0);
  top                 : 387px;
  height              : 20px;
  width               : 495px;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-english .bp2-nikolatesla {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 497px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Times-Bold", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(16, 42, 67, 1.0);
  text-align          : left;
  line-height         : 27.6px;
}
.bp2-spanishtablet .bp2-nikolateslafueun {
  background-color    : rgba(255,255,255,0.0);
  top                 : 422px;
  height              : auto;
  width               : 572px;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Times-Roman", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-spanishtablet .bp2-sucar341ctersuenfr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 629px;
  height              : auto;
  width               : 572px;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Georgia", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-spanishtablet .bp2-nikolatesladeetn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 740px;
  height              : auto;
  width               : 572px;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Georgia", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-spanishtablet .bp2-group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 104px;
  height              : 33px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 659px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-group2 .bp2-group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-group2 .bp2-group4 .bp2-oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-group2 .bp2-group41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-group2 .bp2-group41 .bp2-fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-group2 .bp2-group41 .bp2-fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 852px;
  height              : 58px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-footer .bp2-rectangle {
  background-color    : rgba(240, 244, 248, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-spanishtablet .bp2-footer .bp2-thisarticleusesma {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : 570px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Georgia", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.bp2-spanishtablet .bp2-footer .bp2-thisarticleusesma .bp2-span1 {
  
}
.bp2-spanishtablet .bp2-footer .bp2-thisarticleusesma .bp2-span2 {
  font-family         : "Times-Roman", Helvetica, Arial, serif;
}
.bp2-spanishtablet .bp2-footer .bp2-thisarticleusesma .bp2-span3 {
  font-family         : "ITFDevanagari-Book", Helvetica, Arial, serif;
}
.bp2-spanishtablet .bp2-footer .bp2-thisarticleusesma .bp2-span4 {
  font-family         : "Times-Roman", Helvetica, Arial, serif;
}
.bp2-spanishtablet .bp2-footer .bp2-thisarticleusesma .bp2-span5 {
  
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.bp3-mobilespanishcopy {
  width               : 100%;
  min-width           : 360px;
  height              : 100vh;
  min-height          : 1126px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
div {
  -webkit-text-size-adjust: none;
}
.bp3-mobilespanishcopy .bp3-nikolatesla {
  background-color    : rgba(255,255,255,0.0);
  top                 : 316px;
  height              : auto;
  width               : calc(100.00% - 271px);
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(16, 42, 67, 1.0);
  text-align          : left;
  line-height         : 21.6px;
}
.bp3-mobilespanishcopy .bp3-nikolateslafueun {
  background-color    : rgba(255,255,255,0.0);
  top                 : 350px;
  height              : auto;
  width               : calc(100.00% - 32px);
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp3-mobilespanishcopy .bp3-sucar341ctersuenfr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 725px;
  height              : auto;
  width               : calc(100.00% - 32px);
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp3-mobilespanishcopy .bp3-nikolatesladeetn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 908px;
  height              : auto;
  width               : calc(100.00% - 32px);
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp3-mobilespanishcopy .bp3-group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 239px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group5 .bp3-westernlowlandgorilagorillagorillacopy7 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 239px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group5 .bp3-westernlowlandgorilagorillagorillacopy7 .bp3-mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 239px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group5 .bp3-westernlowlandgorilagorillagorillacopy7 .bp3-a535pxteslasarony {
  background-color    : rgba(255,255,255,0.0);
  top                 : -40px;
  height              : 506px;
  width               : 373px;
  position            : absolute;
  margin              : 0;
  left                : -13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group5 .bp3-group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group5 .bp3-group2 .bp3-group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group5 .bp3-group2 .bp3-group4 .bp3-oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group5 .bp3-group2 .bp3-group41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group5 .bp3-group2 .bp3-group41 .bp3-fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group5 .bp3-group2 .bp3-group41 .bp3-fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 61px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group3 .bp3-rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 61px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-group3 .bp3-wikipediapreviewde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(16, 42, 67, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.bp3-mobilespanishcopy .bp3-groupcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1062px;
  height              : 64px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-groupcopy2 .bp3-rectangle {
  background-color    : rgba(240, 244, 248, 1.0);
  top                 : 0px;
  height              : 64px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-mobilespanishcopy .bp3-groupcopy2 .bp3-thisarticleusesma {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Roboto", Helvetica, Arial, serif, Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 9.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 13.5px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
@media screen and (max-width: 767px) {
  .bp3-mobilespanishcopy {
    display             : block;
  }
  .bp2-spanishtablet {
    display             : none;
  }
  .bp1-spanishdesktop {
    display             : none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .bp3-mobilespanishcopy {
    display             : none;
  }
  .bp2-spanishtablet {
    display             : block;
  }
  .bp1-spanishdesktop {
    display             : none;
  }
}
@media screen and (min-width: 1440px) {
  .bp3-mobilespanishcopy {
    display             : none;
  }
  .bp2-spanishtablet {
    display             : none;
  }
  .bp1-spanishdesktop {
    display             : block;
  }
}